.banner {
  &__row {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.single-about {
  margin-top: 20px;
  &:nth-child(2n) {
    .single-about__description {
      order: 2;
    }
    .single-about__img {
      order: 1;
    }
  }
  &__description {
    width: 100%;
    margin: 0 15px;
    order: 2;
  }
  &__wrapper {
    padding: 0;
    margin-top: 20px;
  }
  &__img {
    width: 100%;
    order: 1;
  }
}

.clients {
  &__logo {
    margin-top: 40px;
  }
}

.send__wrapper {
  padding-right: 0;
  margin: 0 20px;
  .button-send {
    display: unset;
  }
}



.footer {
  &__logo {
    margin-bottom: 30px;
  }
  &__social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
.header {
  &__row {
    flex-direction: column;
  }
  .nav-collapse li {
    display: block;
    width: 100%;
  }
}

.slicknav_menu {
  display: block;
}

.header-nav {
  display: none;
}