extends ../default.pug
block pageContent
  include ../templates/header.pug
  main.main
    include ../templates/banner.pug

    //- section.banner
    //-   .banner__wrap
    //-     .banner__title development
    //-       br
    //-       | design
    //-       br
    //-       | marketing
    //-     .banner__benefits.benefits-banner
    //-       p.benefits-banner__title 
    //-         span.benefits-banner__bold 21
    //-         br
    //-         | people in the team
    //-       p.benefits-banner__title 
    //-         span.benefits-banner__bold 150+
    //-         br
    //-         | projects delivered
    //-       p.benefits-banner__title
    //-         span.benefits-banner__bold 5+
    //-         br
    //-         | years of expirience
    //-   div#particles-js
      
    section.section.section_line.services
      .section__container
        .section__column.services__column
          h2.section__title-primary.text-title Our services
          p.text-semi.services__subtitle hi		um. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis 
            | bibendum auctor, nisi elit consequat ipsum, nec sagitt. sem nibh id elit. Duis sed odio 
          ul.section__list.list-section.list-section_services.section__list_services
            li.list-section__item.list-section__item_inline.list-section__item_services
              div.list-section__wrap
                img(src="../../img/serv1.png", alt="web development").list-section__img
              p.list-section__title IT audit
              p.list-section__subtitle Lorem ipsum dolor sit amet.
            li.list-section__item.list-section__item_inline.list-section__item_services
              div.list-section__wrap
                img(src="../../img/serv2.png", alt="web development").list-section__img
              p.list-section__title UI/UX Design
              p.list-section__subtitle Lorem ipsum dolor sit amet.
            li.list-section__item.list-section__item_inline.list-section__item_services
              div.list-section__wrap
                img(src="../../img/serv-3.png", alt="web development").list-section__img
              p.list-section__title Web Development
              p.list-section__subtitle Lorem ipsum dolor sit amet.
            li.list-section__item.list-section__item_inline.list-section__item_services
              div.list-section__wrap
                img(src="../../img/serv4.png", alt="web development").list-section__img
              p.list-section__title Mobile development
              p.list-section__subtitle Lorem ipsum dolor sit amet.
            li.list-section__item.list-section__item_inline.list-section__item_services
              div.list-section__wrap
                img(src="../../img/serv5.png", alt="web development").list-section__img
              p.list-section__title Marketing
              p.list-section__subtitle Lorem ipsum dolor sit amet.
    include ../templates/case.pug
    section.section.section_line.activity
      .section__container
        .section__column.activity__column
          h2.section__title-primary.text-title Our Scope of Activity
          .activity__wrapper
            include ../templates/activity-single.pug 
          p.activity__subtitle.
            GoFriendsPro Company specializes in developing of task-oriented IT solutions for healthcare, fitness and sport. 
            Additionally, we create functional applications for various business areas.
          p.activity__subtitle.
            Quite naturally, we develop custom, task-oriented, multifunctional apps on your request, whereas these
            complex, comprehensive services are labor-intensive and resource-consuming.
    include ../templates/about.pug
    section.section.map
    include ../../img/worldLow.svg
    section.section.section_dark.clients
      .section__container
        .section__row.section__row_center
          img(src='../../img/cl1.png').clients__logo
          img(src='../../img/cl2.png').clients__logo
          img(src='../../img/cl3.png').clients__logo
    include ../templates/team.pug
    include ../templates/question.pug
  include ../templates/footer.pug