@media (max-width: 480px) {
 .nav.navbar-nav li {
    width: 100%;
}
.slide {	padding-bottom: 60px;
	height: 7%;
	}
.nadpis_slide_left {
	 width: 100%;
	 }
.nadpis_slide {
    padding-top: 100px;

    }

.nadpis_1 {
    font-size: 34px !important;
    }
.slogan {
    font-size: 14px;
    width: 70%;
    }
.nadpis_slide_right {
    padding-top: 0px;
    }
    .nadpis_2 {
    font-size: 40px;
    }
    .slogan2 {
    font-size: 16px;
    }
    .left_uslugi {
    padding-right: 10px;
    width: 100%;
    }
    .uslugi {
         width: 100%;
    background: none;
    }
    .left_uslugi_zag {
        font-size: 33px;
    }
    .left_uslugi_podpis {
    font-size: 16px;
    text-align: justify;
    }
    .left_uslugi_text {
    font-size: 14px;
    }
    .iko_one {
    width: 100% !important;
    line-height: unset;
    height: 300px;
    padding-top: 80px !important;
    line-height: 1;
    font-size: 50px !important;
}
  .iko_two {
    font-size: 50px !important;
    width: 100% !important;
    line-height: unset;
    height: 220px;
    padding-top: 70px !important;
    line-height: 1;
    text-align:center;
    padding-left: 0px;
}

 .iko_three {
    font-size: 50px !important;
    width: 100% !important;
    line-height: unset;
    height: 220px;
    padding-top: 80px !important;
    line-height: 1;
    text-align:center;
    padding-left: 0px;
}

 .iko_four {
    font-size: 50px !important;
    width: 100% !important;
    line-height: unset;
    height: 220px;
    padding-top: 80px !important;
    line-height: 1;
    text-align:center;
    padding-left: 0px;
}
 .iko_five {
    font-size: 50px !important;
    width: 100% !important;
    line-height: unset;
    height: 450px !important;
    padding-top: 80px !important;
    line-height: 1;
    text-align:center;
    padding-left: 0px;
}
.servis_zag {
    font-size: 36px;
    }
    .fon_proces
    {    	 background: none;
    	 }
.log1, .log2, .log3, .log4, .log5, .log6, .log7, .log8, .log9 {    	 	width: 100%;
    	 	margin-left: 0px;
    	 	min-height: 150px;
    	 	margin-top: 0px;
    	 	}
    	 	.teh1 {
    width: 100% !important;
    text-align: center;
    }

    .form {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-top:0px;

    }

    .fon_forma {
    background: none;
        background-repeat: repeat;
        background-size: auto auto;
    background-repeat: repeat;
    background-size: auto auto;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-color: #8a8a8a;
    }
    .logo_footer {
    width: 100%;
    text-align: center;
}
.mebu_footer, .contact_footer, .social_footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bootom:30px;
}   .all {
    float: left;
    padding: 5px;
    width: 33%;

    }
    .bl {
    width: 50%;
    float: left;
    height: 50px;
    padding: 10px;
    font-size: 12px;
    }
    }
@media (max-width: 767px) {
    .nav.navbar-nav li {
    width: 100%;
}
.slide {
    padding-bottom: 60px;
    min-height: 12%;
    }
.nadpis_slide_left {
	 width: 100%;
	 }

    .slogan {
    font-size: 14px;
    width: 90%;
    }
    .nadpis_1 {
    font-size: 62px;
    }
    .nadpis_2 {
    font-size: 40px;
    }
    .slogan2 {
    font-size: 16px;
    }
    .nadpis_slide_right {
    padding-top: 40px;
    }
    .slide {
	padding-bottom: 60px;
	min-height: 8%;
	}
	.uslugi {
         width: 100%;
    background: none;
    }
    .left_uslugi {
    width: 100%;
    }
     .iko_one {     	width:50%;
     	float:left;
     	line-height: unset;
     	height: 220px;
padding-top: 80px;
line-height: 1;
 font-size: 40px;
     	}
     	.iko_two {
     	width:50%;
     	float:left;
     	line-height: unset;
     	height: 220px;
padding-top: 75px;
line-height: 1;
padding-left: 0px;
text-align: center;
 font-size: 40px;
     	}
     	.iko_three {
     	width:50%;
     	float:left;
     	line-height: unset;
     	height: 220px;
padding-top: 75px;
line-height: 1;
padding-left: 0px;
text-align: center;
 font-size: 40px;
     	}
     	.iko_four {
     	width:50%;
     	float:left;
     	line-height: unset;
     	height: 220px;
padding-top: 75px;
line-height: 1;
padding-left: 0px;
text-align: center;
 font-size: 40px;
     	}
     	.iko_five {
     	width:50%;
     	float:left;
     	line-height: unset;
     	height: 220px;
padding-top: 15px;
line-height: 1;
padding-left: 0px;
text-align: center;

 font-size: 25px;
     	}
     	.iko_five span {
    font-size: 16px;
}
.log1, .log2, .log3, .log4, .log5, .log6, .log7, .log8, .log9 {
    	 	width: 50%;
    	 	margin-left: 0px;
    	 	min-height: 150px;
    	 	margin-top: 0px;
    	 	}
    	 	.teh1 {
    width: 33%;
    }
     .fon_proces
    {
    	 background: none;
    	 }
    	 .text {
    text-align: center;
    display: -webkit-inline-flex;
    }
      .fon_forma {
    background: none;
        background-repeat: repeat;
        background-size: auto auto;
    background-repeat: repeat;
    background-size: auto auto;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-color: #8a8a8a;
    }
      .form {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-top:0px;

    }
     .logo_footer {
    width: 100%;
    text-align: center;
}
    .mebu_footer, .contact_footer, .social_footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bootom:30px;
}   .all {
    float: left;
    padding: 5px;
    width: 33%;
   }
    .bl {
    width: 50%;
    float: left;
    height: 50px;
    padding: 10px;
    font-size: 12px;
    }
   }
@media (min-width: 768px) and (max-width: 979px) {
    li {

    font-size: 12px;
}
.nadpis_slide_left {
    width: 100%;
}
.slide {
	padding-bottom: 60px;
	height: 15%;
	}
	.left_uslugi {
    width: 100%;
    }
    .uslugi {
         width: 100%;
    background: none;
    }
    .iko_one {
     	width:50%;
     	float:left;
     	}
     	.iko_two {
     	width:50%;
     	float:left;
     	}
     	.iko_three {
     	width:50%;
     	float:left;
     	}
     	.iko_four {
     	width:50%;
     	float:left;
     	}
     	.iko_one {
     	width:50%;
     	float:left;
     	}
     	.iko_five {
     	width:50%;
     	float:left;
     	}
     	.iko_five span {
    font-size: 20px;
    }
            .fon_proces
    {
    	 background: none;
    	 }

    	 .log1, .log2, .log3, .log4, .log5, .log6, .log7, .log8, .log9 {
    	 	width: 50%;
    	 	margin-left: 0px;
    	 	min-height: 150px;
    	 	margin-top: 0px;
    	 	}

    	 	 .fon_forma {
    background: none;
        background-repeat: repeat;
        background-size: auto auto;
    background-repeat: repeat;
    background-size: auto auto;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-color: #8a8a8a;
    }
     .form {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-top:0px;

    }


	}

@media (max-width: 979px) {

}

@media (min-width: 980px) {

}
@media (min-width: 980px) and (max-width: 1200px) {   .nadpis_slide_left {
    width: 100%;
}
.slide {
	padding-bottom: 60px;
	height: 15%;
	}
	  li {

    font-size: 13px;
}
.left_uslugi {
    width: 100%;
    }

.uslugi {
         width: 100%;
    background: none;
    }

   .iko_one, .iko_two, .iko_three, .iko_four {
font-size:50px;
     	}
     	.iko_five {
     	font-size: 30px;
     	}
     	.iko_five span {
    font-size: 22px;
    }
     .fon_proces
    {
    	 background: none;
    	 }

    	 .log1, .log2, .log3, .log4, .log5, .log6, .log7, .log8, .log9 {
    	 	width: 33%;
    	 	margin-left: 0px;
    	 	min-height: 150px;
    	 	margin-top: 0px;
    	 	}

}


