doctype html
html(lang="en")
    head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title GoFriends
    link(href="css/libs.min.css" rel='stylesheet')
    ink(href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css" rel='stylesheet')
    link(href="css/main.css" rel='stylesheet')
    body
        block pageContent
        script(src="js/libs.min.js")
        script(defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js")
        script(src="js/map.js")
        script(src="js/main.js")
    
          