.button {
  font-weight: 600;
  &_shadow {
    box-shadow: -10px 10px 38px 0px rgba(#33b185, .18);
  }
  &-roll {
    overflow: hidden;
    &_cases {
      height: 40px;
    }
    &__iner {
      transform: translate3d(0px, 0%, 0px);
      &:hover > .button-roll__hover{
        transform: translateY(-105%);
      }
    }
    
    &__hover {
      transition: transform .35s,-webkit-transform .35s;
    }
  }
  &_link {
    display: inline-block;
  }
  &-primary {
    padding: 10px 20px;
    border: none;
    display: inline-block;
    color: $white-color;
    font-weight: 700;
    background-color: $theme-color;
    right: 0;
    position: relative;
    text-align: center;
    bottom: 0;
    transition: background-color .3s;
    &_cases {
      min-width: 167px;
    }
    &_send {
      display: block;
      padding: 10px 60px;
      margin-top: 30px;
    }
    &:hover {
      background-color: darken($theme-color, 5%);
      text-decoration: none;
      color: #fff;
    }
  }
}