@import "variables-functions-and-mixins";

::selection { background: rgba($green-color, .5); }
* { font-family: $main-font, Serif; }
.container-fluid {max-width: 1920px;}
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

@import 'media';
@import "fonts";