mixin single(title, description)
  .about__single.single-about
    .single-about__img(style='background-image: url()')
    .single-about__description
      .single-about__wrapper  
          span.section__text_theme= title
          span= description

mixin single-reverse(title, description)
  .about__single.single-about
    .single-about__description
      .single-about__wrapper  
          span.section__text_theme= title
          span= description
    .single-about__img(style='background-image: url()')

section.section.section_line.about
  .section__container
    .section__column.about__column
      h2.section__title-primary.text-title About us
      p.text-semi.mt-10 GofriendsPro: Your Pass to Success
  .about__single.single-about.mt-60
    .single-about__img(style='background-image: url()')
    .single-about__description
      .single-about__wrapper
        h3.section__text.section__text_theme.section__text_sub-2.section__text_subtitle Go Friends is a professional, fast-growing software development agency.    
        p.mt-20
          | Our team of young, competent and creative professionals:
          | strategists, front-end and back-end developers, 
          | UI/UX designers, SEO and marketing experts, testing & quality assurance (QA) engineers, is well-coordinated and 
          | success-oriented.
  .about__single.single-about
    .single-about__img(style='background-image: url()')
    .single-about__description
      .single-about__wrapper  
        p.mt-20
          span.section__text_theme We provide 
          | comprehensive, full-cycle development 
          |services for our valued customers, being friendly and 
          | client-oriented.
    
      
      
      