section.section.cases
  .section__container
    .section__column
      h2.section__title-primary Case studies
      -var i = 0
      -while(i < 2)
        include ./single-case.pug
        include ./single-case-reverse.pug
        -i++;
      a(href='#').button-primary.button.button_shadow.cases__button View all cases
      
          