section.section.cases
  .section__container
    .section__column.cases__column
      h2.section__title-primary.text-title Case studies
      include ./single-case.pug
      include ./single-case.pug
      include ./single-case.pug
  div.cases__button
    a(href="#").cases__button-inner View all cases