header.header
  .header__wrapper
    .header__row
      a(href='#').header__logo
        img(src="../../img/logo.png", alt="logo" title='logo')
      nav.nav.header-nav
        ul.nav__list.header-list
          each item in ['home', 'case studies', 'services', 'industries', 'technolgies', 'about us', 'contacts']
            li.nav__item.nav__item_inline.header-item
              a(href='#').nav__link.nav__link_primary.header-link= item
            