section.section.send(style='background-image:url("../../img/quest.png")')
  .send__wrap
    .section__container
      .section__row.send__reverse
        .send__wrapper
          h3.h3.section__text.section__text_dark-theme.section__text_sub-2.section__text_subtitle Any questions?
          p.send__subtitle  Please, fill out the form and we will contact you as soon as possible
          .form.form_send(action='', method='POST')
            input(type='text' placeholder='Your Name').form__field.form__field_question.form__field_single
            input(type='email' placeholder='Your Email').form__field.form__field_question.form__field_single
            button(type='submit').button-send Send

