.cases__single
  .cases__description
    h3.cases__title arenda auto
    p.cases__subtitle Online car rental service
    p.cases__text.
      The platform allows customers to order and order cars with 
      a driver, without drivers, as well as buses and cars for weddings.
      The project was created and developed within a short period of 
      time from August 2017. The site has a control panel, convenient
      navigation and the ability to select the desired vehicles.
    .cases__bottom
      .cases__more
        p
          strong Platform: 
          | WEB
        p 
          strong Industry: 
          | Media
      div
        a(href="#").button-primary.button-primary_cases Explore more
  .cases__work
    .cases__wrapper(style='background-image:url("img/ross.jpeg")')
      //- img(src='img/ross.jpeg')
    
    img(src='../../img/imac.png').cases__img
    

  //- .cases__description
  //-   h3.section__text.section__text_sub-1.section__text_cases Gofriends Marketplace
  //-   p.section__text.section__text_sub-2 GoFriends Marketplace – excellent software solutions.
  //-   p.mt-20 We help business by creating our products: convenient and easy to use, beautifully designed. Inspired to help business become outstanding.
  //-   div
  //-     a(href='#').button-primary.button.button_shadow.cases__button Explore more
  //- .cases__layout
  //-   .cases__header
  //-     .cases__settings
  //-       span.cases__settings-circle
  //-       span.cases__settings-circle
  //-       span.cases__settings-circle
  //-   img(src="../../img/ross.jpeg", alt="")