.cases__single
  .cases__layout
    .cases__header
      .cases__settings
        span.cases__settings-circle
        span.cases__settings-circle
        span.cases__settings-circle
      img(src="../../img/ross.jpeg", alt="")
  .cases__description
    h3.section__text.section__text_sub-1.section__text_cases Gofriends Marketplace
    p.section__text.section__text_sub-2 GoFriends Marketplace – excellent software solutions.
    p.mt-20 We help business by creating our products: convenient and easy to use, beautifully designed. Inspired to help business become outstanding.
    div
      a(href='#').button-primary.button.button_shadow.cases__button Explore more
    