section.banner 
  .swiper-container
    .swiper-wrapper
      .swiper-slide(style='background-image:url("../../img/slider-1.png")')
        .banner__wrapper
          //- .banner__triangle.banner__triangle_left
          //-   .banner__triangle-bg.banner__triangle-bg_left
                  
          //-   .banner__triangle-text.banner__triangle-text_left
          //-     .banner__title development
          //-       br
          //-       | design
          //-       br
          //-       | marketing
          //- .banner__triangle
          //-   .banner__triangle-bg
                  
          //-   .banner__triangle-text
          //-     .banner__benefits.benefits-banner
          //-       p.benefits-banner__title 
          //-         span.benefits-banner__bold 21
          //-         br
          //-         | people in the team
          //-       p.benefits-banner__title 
          //-         span.benefits-banner__bold 150+
          //-         br
          //-         | projects delivered
          //-       p.benefits-banner__title
          //-         span.benefits-banner__bold 5+
          //-         br
          //-         | years of expirience
          //- .banner__container
          //-   .banner__row
              .banner__triangle
                .banner__triangle-bg
                  
                .banner__triangle-text
              //- p.banner__title.animated.fadeInLeft development 
              //-   br 
              //-   | design 
              //-   br 
              //-   | marketing
              <span id="typed"></span>
              .banner__benefits.benefits-banner.animated.fadeInRight
                p.benefits-banner__title 
                  span.benefits-banner__bold 21
                  br
                  | people in the team
                p.benefits-banner__title 
                  span.benefits-banner__bold 150+
                  br
                  | projects delivered
                p.benefits-banner__title
                  span.benefits-banner__bold 5+
                  br
                  | years of expirience

      .swiper-slide(style='background-image:url("../../img/slider-1.png")') 2
      .swiper-slide(style='background-image:url("../../img/slider-1.png")') 3
    .swiper-pagination