section.banner 
  .swiper-container
    .swiper-wrapper
      .swiper-slide(style='background-image:url("../../img/slider-1.png")')
        .banner__wrapper
          .banner__container
            .banner__row
              p.banner__title development design marketing
              .banner__benefits.benefits-banner
                p.benefits-banner__title 
                  span.benefits-banner__bold 21
                  br
                  | people in the team
                p.benefits-banner__title 
                  span.benefits-banner__bold 150+
                  br
                  | projects delivered
                p.benefits-banner__title
                  span.benefits-banner__bold 5+
                  br
                  | years of expirience

      .swiper-slide(style='background-image:url("../../img/slider-1.png")') 2
      .swiper-slide(style='background-image:url("../../img/slider-1.png")') 3
    .swiper-pagination