mixin member(name, position)
  .team__single.item
    .team__avatar(style='background-image:url("../../img/team.png")')
    .team__description
      .team__name= name
      .team__position= position
    
section.section.section_dark.team
  .section__container
    .section__column
      h2.section__title-primary Our Team
      .team__wrapper
        .owl-carousel
          -var i = 0;
          -while(i< 8)
            +member('name', 'UX/UI & Frontend Design')
            -i++;